<!DOCTYPE html>

<html>
    <title>Weather App</title>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/favicon.png"> 
    </head>

    <body>
        {{>header}}
        <p>
            {{errorMessage}}
        </p>
       
       {{>footer}}
     &nbsp; &nbsp; {{localtime}}
    </body>
    
</html>